@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
}
  
  

.encabezado_2{
    /* background: green;
    padding: 10px; */
    width: 434px;
    height: 473px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    position: relative;
    left: 64px;
    top: 137px;
}

.el_titulo{
    /* background: red;
    padding: 10px; */
    width: 100%;
    height: 231px;
}

.el_titulo h1{
    /* background: yellow;
    padding: 10px; */
    font-size: 58px;
    font-family: "Avenir-Heavy";
}

.el_parrafito{
    /* background: blue;
    padding: 10px; */
    width: 386px;
    height: 144px;
}

.el_parrafito p{
    /* background: olive;
    padding: 10px; */
    position: relative;
    top: -10px;
    font-size: 26px;
    font-family: "Avenir-Roman";
}

.el_botonsito{
    /* background: violet;
    padding: 10px; */
    width: 157px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.el_botonsito a{
    background: var(--color-2);
    padding: 16px;
    width: 157px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    border-radius: 16px;
    text-decoration: none;
    text-align: none;
    position: relative;
    top: -10px;
    color: var(--color-1);
    font-family: "Avenir-Roman";
}



.caja_foto_1{
    /* background: violet; */
    width: 408px;
    /* height: 480px; */
    position: relative;
    left: 500px;
    top: -430px;
}

.caja_foto_1 img {
    /* background: aqua; */
    width: 408px;
    /* height: 480px; */
}

.caja_foto_2{
    /* background: green; */
    width: 408px;
    /* height: 480px; */
    position: relative;
    left: 930px;
    top: -750px;
}

.caja_foto_2 img {
    /* background: purple; */
    width: 408px;
    /* height: 480px; */
}

.cajita_main{
    /* background: red;
    padding: 10px; */
    width: 1316px;
    /* height: 440px; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    margin-top: -600px;
    left: 20px;

}

.div_caja1{
    /* background: blue;
    padding: 10px; */
    width: 392px;
    /* height: 359.16px; */
}


.div_caja1 h3{
    /* background: blue;
    padding: 10px; */
    width: 368px;
    height: 55px;
    font-size: 40px;
    color: var(--color-3);
    font-family: "Avenir-Roman";
}


.div_caja2{
    /* background: blue;
    padding: 10px; */
    width: 392px;
    /* height: 359.16px; */
}

.div_caja2 h3{
    /* background: blue;
    padding: 10px; */
    width: 368px;
    height: 55px;
    font-size: 40px;
    color: var(--color-3);
    font-family: "Avenir-Roman";
}


.div_caja3{
    /* background: blue;
    padding: 10px; */
    width: 412px;
    /* height: 379.16px; */
}



.div_caja3 h3{
    /* background: blue;
    padding: 10px; */
    width: 368px;
    height: 55px;
    font-size: 40px;
    color: var(--color-3);
    font-family: "Avenir-Roman";
}
