@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-1);
}

body{
    max-width: 1440px; 
    height: 926px; 
    margin: 0 auto; 
    overflow-x: hidden;
}

.div_titulito{
    background: green;
    padding: 5px;
    width: 820px;
    margin: 64px;
    /* height: 176px; */
}

.div_titulito h1{
    background: blue;
    padding: 5px;
    width: 810px;
    height: 176px;
    font-size: 72px;
}