:root{
    --color-1: #fff;
    --color-2: #252525;
    --color-3: #25252567;
     /* Barra de scroll */
     --color-4: #888;
     --color-5: #555;
}

@font-face {
    font-family: "times-regular";
    src: url(../storage/font/times/Typography\ Times\ Regular.ttf);
}

@font-face {
    font-family: "times-bold";
    src: url(../storage/font/times/Typography\ Times\ Bold.ttf);
}

@font-face {
    font-family: "Popins-regular";
    src: url(../storage/font/poppins/Poppins-Regular.ttf);
}