:root{
    --color-1: #fff;
    --color-2: #457D61;
}

@font-face {
    font-family: "time-regular";
    src: url(../storage/font/times/Typography\ Times\ Regular.ttf);
}

@font-face {
    font-family: "poppin-regular";
    src: url(../storage/font/poppins/Poppins-Regular.ttf);
}