<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style3.css">
    <title>Page 3</title>
</head>
<body>
    <header class="encabezado_tres">
        <div class="titulito">
            <h1>Just That simple</h1>
        </div>
        <div class="cajita_de_todo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget.</p>
            <a href="#">Get Started</a>
        </div>
    </header>
    <main class="cajita_main3">
        <div class="div_imagen">
            <img src="../storage/img/3.svg">
        </div>
    </main>
</body>
</html>